body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

main {
  max-width: 800px;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3 {
  margin-top: 0;
  font-weight: 700;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 0.5rem;
  border: 1px solid #333;
  text-align: left;
}

th {
  background-color: #333;
  color: #fff;
}

form {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  margin: 0.5rem 1rem;
  width: calc(33.33% - 2rem);
}

label {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

input[type="text"] {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #333;
  width: 100%;
  font-size: 0.9rem;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  font-size: 0.9rem;
  margin-left: auto;
}

button[type="submit"]:hover {
  cursor: pointer;
  background-color: #949494;
  color: #333;
}
